<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pocket Journal - Write Your Daily Updates</title>
    <meta name="description" content="Write down your daily updates in your personal online journal. Get started with Pocket Journal to keep track of your daily thoughts and experiences.">
    <meta name="keywords" content="pocket journal, online journal, daily updates, personal journal, keep track, write journal">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Pocket Journal - Write Your Daily Updates">
    <meta property="og:description" content="Write down your daily updates in your personal online journal. Get started with Pocket Journal to keep track of your daily thoughts and experiences.">
    <meta property="og:image" content="https://i.ibb.co/8N8MS3t/pocket.png">
    <meta property="og:url" content="https://pocketdiary.onrender.com/"> <!-- Replace with the correct URL of your website -->
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Pocket Journal - Write Your Daily Updates">
    <meta name="twitter:description" content="Write down your daily updates in your personal online journal. Get started with Pocket Journal to keep track of your daily thoughts and experiences.">
    <meta name="twitter:image" content="https://i.ibb.co/8N8MS3t/pocket.png">
    <meta name="twitter:url" content="https://pocketdiary.onrender.com/"> <!-- Replace with the correct URL of your website -->
</head>

<body>
    <section class="pkt_content_container flex">
        <ul>
            <li>
                <div class="my-title">Pocket Journal</div>
            </li>
            <li>
                <div class="my-desc">Write down your daily updates in your personal online journal</div>
            </li>
            <li>
                <a href="/login" class="mybtn">Get Started</a>
            </li>
        </ul>
    </section>
    <footer class="pkt_footer">
        <div class="pkt_privacy">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield">
                <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
            </svg>
            <span>Privacy Protected</span>
        </div>
    </footer>
</body>

</html>

