<section class="pkt_content_container">
    <section class="pkt_content_view">
        <div class="pkt_content">
            <a href="/" class="mybtn">Back</a>
            <div class="my-title white ">{{k}}</div>
            <div class="pkt_content_view">
                <div class="my-desc  white view-page bg-white">{{{html}}}</div>
            </div>
        </div>
    </section>
</section>